@model LmsTool.Models.DbModels.ActivityModel
@Html.AntiForgeryToken()
<div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="form-group text-center">@Html.DisplayFor(model => model.Name)</h4>
        </div><div class="panel-body">
                  

                      @*<hr />*@
                      <dl class="dl-horizontal">
                          <dt>
                              @Html.LabelFor(model => model.Modul.Name)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Modul.Name, new { htmlAttributes = new { @class = "form-control" } })
                          </dd>

                          <dt>
                              @Html.LabelFor(model => model.TypeOfActivity)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.TypeOfActivity, new { htmlAttributes = new { @class = "form-control" } })
                          </dd>
                          <dt>
                              @Html.LabelFor(model => model.Submission)
                          </dt>
                          @if (Model.Submission == false)
                          {
                              <dd>Nej</dd>
                          }
                          else
                          {
                              <dd>Ja</dd>
                          }


                          @*<dt>
                              @Html.LabelFor(model => model.StartDate)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.StartDate)
                          </dd>*@

                          @*<dt>
                              @Html.LabelFor(model => model.EndDate)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.EndDate)
                          </dd>*@
                          @if (Model.Document != null) {
                          <dt>
                             @Html.LabelFor(model => model.Document)
                          </dt>
                          <dd>
                              @Html.ActionLink(Model.Document.ToString(), "Download", new { FileName = Model.Document})
                             
                          </dd>
                          }
                      </dl>
                 
                      <h4>@Html.DisplayNameFor(model => model.Description)</h4>
                      <section class="text-columns">
                          @Html.DisplayFor(model => model.Description)
                      </section>
                  </div>
    </div>
</div>
    