@model LmsTool.Models.Viewmodels.ViewStudents

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ViewStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @Html.HiddenFor(model => model.Id)

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    }
</div>
<script>
    $('.modal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal').children('.modal-content').html('');
    });
</script>