<!DOCTYPE html>
<html>
<head>







    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lexicon LMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Student.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
@RenderSection("Scripts", required: false)
    


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">@*-fluid*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                       
            <a href="@Url.Action("Login", "Account")"> <img src="~/Resources/logo-lexicon@2x.gif" longdesc="Lexicon LMS" height="50"></a>
        </div>
        <div class="navbar-collapse collapse" style="padding-right:20px;">
            <ul class="nav navbar-nav">

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content" @*style="width: 100%"*@>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Lexicon LMS</p>
    </footer>
</div>





    
</body>
</html>
