@using System.Activities.Statements
@using System.Web.UI.WebControls
@using LmsTool.Models.DbModels
@using Microsoft.Ajax.Utilities
@model IEnumerable<LmsTool.Models.DbModels.CourseModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>@ViewBag.dateFailure</h2>

<p>
    @if (User.IsInRole("Teacher"))
    {
        
    }
   
</p>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Skapa Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Editera Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Tabort Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>

            </div>
        </div>
    </div>
</div>



<a href="@Url.Action("Create","course", null)"  class = "btn btn-primary Create" >Skapa ny kurs</a>




@foreach (CourseModel course in Model)
{
    <div class="panel panel-success" >
        
        <div class="panel-heading"><a style="font-size: 20px">@course.Name</a><span style="float: right">
                @Html.ActionLink("Elever","Index","Course",  new {id = course.Id}, new {@class= "btn btn-primary btn-lg" })
                     
                @Html.ActionLink("Moduler","Index","Modul",  new {id = course.Id}, new {@class= "btn btn-primary btn-lg" })
            </span>
            <a href="@Url.Action("Edit","course", new {id = course.Id})"  class="btn btn-primary Edit">Editera</a>
           
            <a href="@Url.Action("Delete","course", new {id = course.Id})"  class="btn btn-primary Delete">Tabort</a>



        </div>
        
    </div>


    <div class="container" id="CourseDescription">
        @course.Description
        

    </div>

       
                    
                    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContainer" href="@Url.Action("Edit","Modul", new {id = modul.Id})">
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContainerLarge" href="@Url.Action("Index","Activity", new {id = modul.Id})">
                        Aktiviteter( @{*@

                                        
                        
                        
                    @*</button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContainer" href="@Url.Action("Delete","Modul", new {id = modul.Id})">
                        Tabort
                    </button>*@
                    


       


}
<script>
    $(document).ready(function () {
        $('.Create').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalCreate').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.Edit').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalEdit').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.Delete').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalDelete').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>