@using LmsTool.Models.DbModels
@using LmsTool.Models.Viewmodels
@model IEnumerable<LmsTool.Models.Viewmodels.ViewModuls>

    @{
        ViewBag.Title = "IndexStudent";
    }

    <h2>@Model.FirstOrDefault().Course.Name</h2>


    @foreach (ViewModuls modul in Model)
    {
        <div class="panel panel-info">


            <div class="panel-heading Icon-Fontsize">
                <p class="glyphicon glyphicon-menu-down">&nbsp;</p>
            </div>&nbsp;<a class="inactiveLink">@modul.Name</a><a class="DateOnDiv inactiveLink">(@modul.StartDate.ToShortDateString())&nbsp; - &nbsp; (@modul.EndDate.ToShortDateString()) </a><span class="pull-right">



                @Html.ActionLink("Aktiviteter" + " (" + modul.NrOfActivitys + ")", "Index", "Activity", new { id = modul.Id }, new { @class = "btn btn-primary btn-lg" })
            </span>

        </div>


        <div class="panel-body collapse Expandable">
            <div>
                <section class="text-columns">
                    @modul.Description
                </section>

            </div>

        </div>

    

    }
 
