@using LmsTool.Models.DbModels
@using LmsTool.Models.StudentViewmodels
@using LmsTool.Models.Viewmodels
@model index

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<link href="~/Scripts/fullcalendar-3.4.0/fullcalendar.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" media="print" rel="stylesheet" />
@*<link href="~/Scripts/fullcalendar-3.4.0/fullcalendar.print.min.css" rel="stylesheet" />*@
<script src="~/Scripts/fullcalendar-3.4.0/lib/jquery.min.js"></script>
<script src="~/Scripts/fullcalendar-3.4.0/lib/moment.min.js"></script>
<script src="~/Scripts/fullcalendar-3.4.0/fullcalendar.js"></script>
<script src="~/Scripts/fullcalendar-3.4.0/locale/sv.js"></script>
@*https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js
https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css
https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css*@



<div id='calendar'></div>
@{
    ViewBag.Title = "IndexStudent";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<h2 class="CourseName">@Model.Course.Name</h2>


@using (Ajax.BeginForm(null, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "frmInfoModul",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmID3" }))

{

    <div>
        <div class="container-fluid row collapse" id="InfoModul">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">

                <div id="frmInfoModul">

                    


                </div>
            </div>
            <div class="col-xs-2">

            </div>



        </div>
    </div>

}

@using (Ajax.BeginForm(null, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "frmInfoActivity",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmID2" }))

{

    <div>
        <div class="container row collapse" id="InfoActivity">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">

                <div id="frmInfoActivity">

                   


                </div>
            </div>
            <div class="col-xs-2">

            </div>



        </div>
    </div>

}

@using (Ajax.BeginForm(null, null, null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "frmInfoAssignment",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmID1" }))

{

    <div>
        <div class="container row collapse" id="InfoAssignment">
            <div class="col-xs-7"></div>
            <div class="col-xs-5">

                <div id="frmInfoAssignment">

                 


                </div>
            </div>
            



        </div>
    </div>

}

<div class="container-fluid row">
    <div class="col-lg-6">
        <table class="table border">
            <caption><h2 class="text-center">Moduler</h2></caption>
            <tr>
                <th>Modulnamn</th>
                <th>Start datum</th>
                <th>Slut datum</th>
                <th>Aktiviteter</th>
            </tr>
            @foreach (ModulModel modul in Model.Moduls)
            {
                <tr>
                    <td><a href="@Url.Action("InfoModul","Student", new {id = modul.Id})" class="Modul">@Html.DisplayFor(modelitem => modul.Name)</a></td>
                    <td>@modul.StartDate.ToShortDateString()</td>
                    <td>@modul.EndDate.ToShortDateString()</td>
                    <td><a href="@Url.Action("Index")">@Html.DisplayFor(modelitem => modul.Activities.Count)</a></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table">
                <caption><h2 class="text-center">Dagens Aktiviteter</h2></caption>
                <tr>
                    <th>Namn</th>
                    <th>Aktivitetstyp</th>
                    <th>Inlämning</th>
                </tr>
                @foreach (ActivityModel activity in Model.TodaysActivities)
                {
                    <tr>
                        <td><a href="@Url.Action("InfoActivity","Student", new {id = activity.Id})" class="Activity">@Html.DisplayFor(modelitem => activity.Name)</a></td>
                        <td>@Html.DisplayFor(modelitem => activity.TypeOfActivity)</td>
                        @if (activity.Submission != true)
                        {
                            <td><a>Nej</a></td>
                        }
                        else
                        {
                            <td>Ja</td>

                        }
                    </tr>
                }
            </table>
        </div>
        <div>
            <table class="table">
                <caption><h2 class="text-center">Inlämningsuppgifter</h2></caption>
                <tr>
                    <th>Namn</th>
                    <th>Activitet</th>
                    <th>Status</th>
                    <th>Senast inlämning</th>
                </tr>
                @foreach (AssignmentModel assignment in Model.Assignments)
                {
                    <tr>
                        <td><a href="@Url.Action("InfoAssignment","Student", new {id = assignment.Id})" class="Assignment">@Html.DisplayFor(modelitem => assignment.Name)</a></td>
                        <td>@Html.DisplayFor(modelitem => assignment.Activity.TypeOfActivity)</td>
                        @if (assignment.Submitted == null)
                        {
                            <td>Ej inlämnad</td>
                        }
                        else
                        {
                            if (assignment.Approved == false)
                            {
                                <td>Väntar på rättning</td>
                            }
                            else
                            {
                                <td>Godkänd</td>
                            }
                        }
                        <td>@Html.DisplayFor(modelitem => assignment.Deadline)</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(
        $(document).on('click', '.Modul', function () {
            if ($('#InfoAssignment').css('display') == 'none' && $('#InfoActivity').css('display') == 'none') {
                $(this).closest('.container').find("#InfoModul").toggle("fast", "swing");
            }
            else if ($('#InfoAssignment').css('display') == 'none') {
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoModul").toggle("fast", "swing");

            }
            else {
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoModul").toggle("fast", "swing");
            }


        }));

</script>
<script>
    $(document).ready(
        $(document).on('click', '.Activity', function () {
            if ($('#InfoAssignment').css('display') == 'none' && $('#InfoModul').css('display') == 'none') {
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");
            }
            else if ($('#InfoAssignment').css('display') == 'none') {
                $(this).closest('.container').find("#InfoModul").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");

            }
            else {
                $(this).closest('.container').find("#InfoAssignment").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");
            }


        }));

</script>
<script>
    $(document).ready(
        $(document).on('click', '.Assignment', function () {
            if ($('#InfoActivity').css('display') == 'none' && $('#InfoModul').css('display') == 'none') {
                $(this).closest('.container').find("#InfoAssignment").toggle("fast", "swing");
            }
            else if ($('#InfoActivity').css('display') == 'none') {
                $(this).closest('.container').find("#InfoModul").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoAssignment").toggle("fast", "swing");

            }
            else {
                $(this).closest('.container').find("#InfoActivity").toggle("fast", "swing");
                $(this).closest('.container').find("#InfoAssignment").toggle("fast", "swing");
            }


        }));

</script>

<script>
    $(document).ready(function () {
        $('.Modul').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('#frmInfoModul').html(response);
            });

        });
        $('.Activity').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('#frmInfoActivity').html(response);
            });

        });
        $('.Assignment').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('#frmInfoAssignment').html(response);
            });
           
        });
    });
</script>


<script>


    $(document).ready(function () {
        alert('i script');
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,listWeek'
            },
            weekends: false,
            businessHours: {
                dow: [1, 2, 3, 4, 5],
                start: '08:00',
                end: '17:00'
            },
            buttonText: {
                list: "Veckoschema"
            },
            height: 'auto', // Maximize height so everything is shown, no scrollbar
            timezone: 'local',
            weekNumbers: true,
            //allDay: true,
            minTime: '07:00:00', // Show schedule from only 8-17
            maxTime: '18:00:00',
            defaultTimedEventDuration: '09:00:00',
            defaultView: 'basicWeek',

            events: "@Url.Action("GetActivities","Student")",
            // Custom renderer to add icon functionality on events

            monthNames: ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'October', 'November', 'December'], // Custom names to get Pascal casing on months
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events

            });
        alert('i script');
    });

</script>