@model LmsTool.Models.DbModels.AssignmentModel

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@using (Ajax.BeginForm("CreateAssignment", "activity", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "frmCreate", OnSuccess = "$('close').click()" }, new { id = Model.ActivityId, enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

     
        
        
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            @if (Model.Activity != null)
            {
                <h2>
                    Skapa Inlämningsuppgift för @Model.Activity.Name
                </h2>
                 @*@Model.Activity.StartDate.ToShortDateString() - @Model.Activity.EndDate.ToShortDateString()*@

            }
          
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })

                @Html.TextAreaFor(model => model.Description, 6, 50, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @id = "dt1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })


        @*<div class="form-group">

           

        </div>*@
        

            </div>


            @Html.HiddenFor(model => model.ActivityId)


            <div class="form-group">
                <div @*class="col-md-offset-2 col-md-10"*@>
                    <input type="submit" value="Lägg till" class="btn btn-default btn-success btn-block" />
                </div>
            </div>
        </div>
   
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script>
    $(document).ready(function () {
        $("#dt1").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function () {
                var dt1 = $('#dt1').datepicker('getDate');
                $('#dt1').datepicker('setDate', dt1);
                //var date2 = $('#dt1').datepicker('getDate');
                //date2.setDate(date2.getDate() + 1);
                //$('#dt2').datepicker('setDate', date2);
            }

        });
        $('#dt2').datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function () {
                var dt1 = $('#dt1').datepicker('getDate');
            }
        });
    });

</script>*@
