@model IEnumerable<LmsTool.Models.Viewmodels.ViewActivitys>

@{
    ViewBag.Title = "Index";
}




    <h3>@Model.FirstOrDefault().ModulName</h3>
    <h4>@Model.FirstOrDefault().ModulStartStr - @Model.FirstOrDefault().ModulEndStr</h4>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<p>
    <a href="@Url.Action("Create","Activity", new {id = ViewBag.CurrentModul})" class="btn btn-primary Create">Skapa ny aktivitet</a>
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.TypeOfActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Name != null)
    {


        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TypeOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Activity", new {id = item.Id})" class="btn btn-primary btn-lg Edit">Redigera</a>
                @if (item.Assignments != null && item.Assignments.Count > 0)
                {
                    @Html.ActionLink("Inlämningsuppgifter", "IndexAssignment", "Activity", new {id = item.Id}, new {@class = "btn btn-primary btn-lg"})
                }
                @if (item.Assignments != null && item.Assignments.Count < 1)
                {
                    <a href="@Url.Action("CreateAssignment", "Activity", new {id = item.Id})" class="btn btn-primary btn-lg Create">Skapa Inlämning</a>
                }
                <a href="@Url.Action("Delete", "Activity", new {id = item.Id})" class="btn btn-primary btn-lg Delete">Tabort</a>
            </td>
        </tr>
    }
}

</table>
<div class="modal fade" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Skapa Aktivitet</h4>
            </div>
            <div class="modal-body">

            </div>
            <div @*class="modal-footer"*@>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Avbryt</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Editera Aktivitet</h4>
            </div>
            <div class="modal-body">

            </div>
            <div @*class="modal-footer"*@>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Avbryt</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Tabort Aktivitet</h4>
            </div>
            <div class="modal-body">

            </div>
            <div @*class="modal-footer"*@>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Avbryt</button>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.Create').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalCreate').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.Edit').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalEdit').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.Delete').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.modal-body').html(response);
            });
            $('#ModalDelete').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>