@model LmsTool.Models.DbModels.ModulModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Ajax.BeginForm("create", "modul", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ModalCreate", OnSuccess = "$('close').click()" }, new { id = ViewBag.CurrentCourse }))

{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            
                @Html.TextAreaFor(model => model.Description, 6, 50, new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @id = "dt1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
         
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
           
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @id = "dt2", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.CourseId)
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div @*class="col-md-offset-2 col-md-10"*@>
                <input type="submit" value="Lägg till" class="btn btn-success btn-block" />



            </div>
        </div>
    </div>
}




<script>
    $(document).ready(function () {

        //var test = $('#dt1').getDate;
        //$("#dt1").val($.format.date(new Date(), 'yy mm dd'));


        $("#dt1").datepicker({
            dateFormat: "yy-mm-dd",
            minDate: 0,
            onSelect: function () {
                var date2 = $('#dt1').datepicker('getDate');
                date2.setHours(8);
                date2.setDate(date2.getDate() + 1);
                $('#dt2').datepicker('setDate', date2);
                //sets minDate to dt1 date + 1
                $('#dt2').datepicker('option', 'minDate', date2);
                


            }
        });
        $('#dt2').datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function () {
                var dt1 = $('#dt1').datepicker('getDate');
               
                var dt2 = $('#dt2').datepicker('getDate');
                dt2.setHours(17);
                
                if (dt2 <= dt1) {
                    var minDate = $('#dt2').datepicker('option', 'minDate');
                    $('#dt2').datepicker('setDate', minDate);
                    
                }
            }
        });
    });

</script>


@*<script>
        $('.modal').on('hidden.bs.modal', function () {
            $(this).data('.modal'), null removeData('bs.modal').children('.modal-content').html('');
            $(this).
            alert("i script");
        });
    </script>*@
