@model LmsTool.Models.DbModels.ModulModel

<h4>Vill du ta bort modulen @Html.DisplayFor(model => model.Name) i kursen @Html.DisplayFor(model => model.Course.Name) ?</h4>
<div>
    
  
    <dl class="">
        @*<dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div @*class="form-actions no-color"*@>
            <input type="submit" value="Ta bort" class="btn btn-danger btn-block" />
        </div>
    }
</div>
