@using LmsTool.Models.DbModels
@model IEnumerable<LmsTool.Models.DbModels.ModulModel>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayFor(model => model.First().Course.Name)</h2>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<p>
    
    
     <a href="@Url.Action("Create","Modul", new {id = ViewBag.CurrentCourse})"  class = "btn btn-primary Create" >Skapa ny modul</a>
       
    @if (ViewBag.Infomodul != null)
    {
        <h3 class="alert alert-success">@ViewBag.InfoModul</h3>
    }
    @if (ViewBag.ErrorModul != null)
    {
        <h3 class="alert alert-warning">@ViewBag.ErrorModul</h3>
    }
</p>

@foreach (ModulModel modul in Model)
{
    <div class="panel panel-success">

        <div class="panel-heading">
            <a style="font-size: 30px">@modul.Name</a><span style="float: right">
                <a href="@Url.Action("Edit","Modul", new {id = modul.Id})"  class="btn btn-primary btn-lg Edit">Redigera</a>
                @Html.ActionLink("Aktiviter", "Index", "Activity", new {id = modul.Id}, new {@class = "btn btn-primary btn-lg"})
                <a href="@Url.Action("Delete","Modul", new {id = modul.Id})"  class="btn btn-primary btn-lg Delete">Tabort</a>
            </span>
           
           



        </div>

    </div>


    <div class="container" id="ModulDescription">
        @modul.Description


    </div>

   
            
        
    }


<div class="modal fade" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Skapa Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Editera Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Tabort Modul</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>

            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('.Create').click(function (event) {
                event.preventDefault();
                $.get(this.href, function (response) {
                    $('.modal-body').html(response);
                });
                $('#ModalCreate').modal({
                    backdrop: 'static',
                }, 'show');
            });
            $('.Edit').click(function (event) {
                event.preventDefault();
                $.get(this.href, function (response) {
                    $('.modal-body').html(response);
                });
                $('#ModalEdit').modal({
                    backdrop: 'static',
                }, 'show');
            });
            $('.Delete').click(function (event) {
                event.preventDefault();
                $.get(this.href, function (response) {
                    $('.modal-body').html(response);
                });
                $('#ModalDelete').modal({
                    backdrop: 'static',
                }, 'show');
            });
        });
</script>